*{
    margin: 0px;
    padding: 0px;
}
body{
   /* text-transform: uppercase;*/
    letter-spacing: 8px;
    text-shadow: 4px 3px 8px #052f7875;
    min-height: 100vh;
    background: url(./Nouveau/crodille.jpg) center/cover;
}
h1{ 
    text-align: center;
    letter-spacing: 10px;
    font-size: 5vw;
}

main{
   /* height: 500px;*/
    background: rgba(205, 189, 189, 0.89);
    width: 90%;
    margin: 0 auto;
    box-shadow: -2px 3px 15px 12px rgb(171, 212, 224);
    border-radius: 15px;
    padding: 25px;
}
.flexbox, .grid, .absolute{
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 100px;
}
.flexbox ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.flexbox li{
    list-style: none;
    height: 100px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 30% 70%;
}
.grid img {
    width: 80%;
    margin: 20px auto;
    display: block;
}
form{
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;/*trois lignes*/
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";/*Pour le i1 on va lui faire reference à prenom.
    pour i2,reference au nom mais il vont être sur la même ligne
    pour ta ta c'est le textareas il va prendre les deux colonnes.
    pour vi: indice qui va faire référence à une case vide.
    pour bt c'est notre bouton à coté de la case vide.*/
}
input, textarea{
    margin: 5px;
    border: 1px solid blue;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "DMserif";/*le font-family de body n'affecte
    pas les input et textarea*/
}

textarea{
    grid-area: ta;
    height: 50px;
    resize: none;/*annule le petit truc que l'user peut changer notre 
    textarea*/ 
}
input[type=text]{
    height: 15px;
}

#btn-submit{
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    height: 40px;
    transition: 2s;/*le temps de s'afficher*/
}
#btn-submit:hover{
    background: darkblue;
    color: white;
    height: 40px;
}

/*element circle1*/
.absolute{
    position: relative;
}
#circle1{
    height: 80px;
    width: 80px;
    background: red;
    position: absolute;
    border-radius: 150px;
    top: 0;
    right: 0;
}
#circle2{
    height: 40px;
    width: 40px;
    background: red;
    border-radius: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 900px) {
    .grid-container{
        display: block;/*pour que les elemet vont au dessous des autres*/ 
    }
    .grid-container img {
        width: 40%;
    }
}
@media screen and (max-width: 600px) {
    .flexbox ul{
       flex-direction: column; /*il met en colonne*/
       align-items: center; /*il les centre*/
    }   
   
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "i1"
            "i2"
            "ta"
            "bt"; 
    }
    input, textarea{
        font-size: 0.8rem;
    }
}
    
